.slides,
.slides p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.slides h1,
.slides h2,
.slides h3,
.slides h4,
.slides h5,
.slides h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
.slides .button,
.slides .slides-form {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.main-slide {
    height: 100vh !important;
}

.nav-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    /* margin-left: 40px; */
}

.nav-main li:nth-child(1) {
    margin-right: 15%;
}
.nav-main li:nth-child(2) {
    margin-right: 15%;
}
.nav-main li:nth-child(3) {
    margin-right: 15%;
}
.nav-main li:nth-child(4) {
    margin-right: 15%;
}

.nav-main li:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 0 0 0.5px darkgray;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index:100;
    text-align: center;
    color:white;
}

.main-content h1 {
    font-size: 60px;
    font-weight: 600;
    text-shadow: 1.5px 1.5px 1.5px black;
}

.main-content img {
    width:180px;
    height: 120px;
}
.about-banner{
    width:100%;
    align-items: center;
    background-color: black;
    color:white;
    position: absolute;
    bottom: 0;
    text-align: center;
    min-height:80px;
}
.about-banner p{
    font-size: 34px;
    font-weight: 500;
    padding: 45px 0 0;
}





.menu_tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 28px;
    text-shadow: 1.5px 1.5px #424040;
    align-items: center;
}
.menu_tabs li:nth-child(1) {
    margin-right: 20px;
    border-right: 2px solid white;
    padding-right: 15px;
}
.menu_tabs li:nth-child(2) {
    margin-right: 20px;
    border-right: 2px solid white;
    padding-right: 15px;
}
.menu_tabs li:nth-child(3) {
    margin-right: 20px;
    border-right: 2px solid white;
    padding-right: 15px;
}
.menu_tabs li:nth-child(1) {
    margin-left: 5px;
} 
h1.menu_title {
    font-size: 60px;
    font-weight: 550; 
    color: white;
    text-shadow: 1.5px 1.5px #424040;
}

.img_resp {
    max-width: 655px;
}

.gallery_img {
    max-height: 350px;
}

.gallery_img_big {
    max-height: 550px;
} 



h1.contacts_title {
    font-size: 55px;
    font-weight: 550;
}

.contacts_left h4 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.contacts_left p {
    font-size: 30px;
    font-weight: 500;
}


.contacts_right h4 {
    font-size: larger;
    font-weight: 600;
}

.contacts_right li {
    font-weight: 500;
}

.contect_map_class {
    filter: grayscale(80%);    
}
.contect_map_class:hover {
    transform: scale(1.15);
    transition: 0.8s ease all;
}

#loader-container{
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background-color: white;
}

.phone img {
    margin-top: 5px;
}

.crop_tel_number {
    margin-bottom: 0;
}



.menu_text p {
    position: absolute;
    top: 30px;
    right: 160px;
    font-weight: 600;
    font-size: 17px;
    text-shadow: 0.5px 0.5px lightblue;
    color: rgb(240, 29, 29);
    transform: rotate(30deg);
}

.photo_by {
    display: flex;
    justify-content: flex-end;
}

.link_photografer {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .main-slide {
        height: 450px!important; ;
    }
    .slider-item img {
        width:100%;
        height: 450px !important;
    }
    .about-us-wrapper {
        margin: 100px auto!important;
        text-align: center;
    }
    .img_resp {
        max-width: 300px !important;
    }
    .menu_tabs li {
        color: white;
        font-weight: 450;
        margin-bottom: 2px;
        font-size: 18px;
        text-shadow: 1.2px 1.2px #424040;
    }
    .menu_tabs li:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu_text p {
        top: 10px;
        right: -40px;
        font-size: 9px;
        transform: rotate(40deg);
        font-weight: 600;
    }
    .menu_tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        font-weight: 400 !important;
        margin-bottom: 0;
        font-size: 18px;
        text-shadow: 1.5px 1.5px #424040;
        align-items: center;
    }
    .menu_tabs li:nth-child(1) {
        margin-right: 10px;
    }
    .menu_tabs li:nth-child(2) {
        margin-right: 10px;
    }
    .menu_tabs li:nth-child(3) {
        margin-right: 10px;
    }
    .menu_tabs li:nth-child(1) {
        margin-left: 2.5px;
    } 
}



.restaurant-card h6 {
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.restaurant-card img {
    max-width: 200px;
    max-height: 150px;
}

.restaurant-card:hover  h6 {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.restaurant-card:hover {
    box-shadow: 0 5px 10px #aeacac;
    border-radius: 8px;
    transform:translateY(-10px);
    transition: 0.5s ease-in-out;
}

.restaurant-card {
    margin: 0 auto;
    max-width: 450px;
    min-height: 380px;
    padding: 25px 10px;
}

.slider-item img {
    width:100%;
    height: 850px;
}

.about-us-wrapper {
    width:80%;
    margin: 100px auto 200px;
    text-align: center;
}

.text-contact {
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px 15px #4e4e4e;
}

#loader {
   margin: 150px auto;
    z-index: 1;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #000000;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}
